/* HEADER */
header {
    align-items: center;
    display: flex;
    justify-content: space-between;
}
/* NAV HEADER */
.navigation-header {
    display: flex;
    justify-content: space-between;
}
.navigation-header ul {
    display: flex;
}
.navigation-header ul li {
    list-style-type: none;
}
.navigation-header ul a {
    margin-right: 10px;
}

.img-project:hover {
    opacity: 0.13;
}

.img-project {
    border-radius: 3px;
}

figure:last-child {
    filter: grayscale(100%);
}
/* DROPDOWN MENU */
.dropdown {
    width: 6%;
}

.dropdown button {
    background-color: #BBBBBB;
    border: none;
    color: #FFFFFF;
    padding: 12px;
    text-transform: uppercase;
   
}
  
.menu {
    background-color: #BBBBBB;
    display: none;
    width: 30%;
    position: absolute;
    z-index: 1;
}

.menu a {
    color: #000000;
    display: block;
    padding: 1rem 1rem;
}

.menu a:hover {
    color: #FFFFFF;
}

.dropdown:hover .menu {
    display: block;
}


@media only screen and(max-width:600px){

}